{% extends 'base.html' %}
{% block content %}



<section class="table-components">
    <div class="container-fluid">
      <!-- ========== title-wrapper start ========== -->
      <div class="title-wrapper pt-30">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="title mb-30">
              <h2>{{student.name}} Attendances</h2>
            </div>
          </div>
          <!-- end col -->
          <div class="col-md-6">
            <div class="breadcrumb-wrapper mb-30">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="#0">Attendances</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Attendances
                  </li>
                </ol>
              </nav>
            </div>
          </div>
          <!-- end col -->
        </div>
        <!-- end row -->
      </div>
      <!-- ========== title-wrapper end ========== -->
  
      <!-- ========== tables-wrapper start ========== -->
      <div class="tables-wrapper">
        <div class="row">
          <div class="col-lg-12">
            <div class="card-style mb-30">
              <h6 class="mb-10">
                   <a class="btn btn-primary"  href="/add-attendance/{{student.id}}" role="button">+ Add Attendance</a>
                
                </h6>
              <div class="table-responsive">
                
                <table class="table">
                  <thead>
                    <tr>
                      <!-- <th data-type="intiger"><h6>#</h6></th> -->
                      <th><h6>Student Name</h6></th>
                      <th><h6>Date</h6></th>
                        <th><h6>Status</h6></th>
                        
                        <th><h6>Action</h6></th>

                      
                    </tr>
                  </thead>
                  <tbody>
                    {% for s in  attendances %}
                    <tr>
                        <td><p>{{ s.student_id.name }}</p></td>
                        <td><p>{{ s.date }}</p></td>
                        {% if s.status == 'present' %}
                         
                         <td><p><span class="status-btn success-btn">{{s.status}}</span></p></td>
                        {% else %}
                        <td><p><span class="status-btn danger-btn">{{s.status}}</span></p></td>
                        
                        {% endif %}
                         <td><p>
                            <a href="/update-attendance/{{s.id}}">Edit</a>
                        </p></td>
                    </tr>
                {% endfor %}
                  </tbody>
                </table>
               
              </div>
            </div>
            <!-- end card -->
          </div>
          <!-- end col -->
        </div>
        <!-- end row -->
      </div>
      <!-- ========== tables-wrapper end ========== -->
    </div>
    <!-- end container -->
  </section>




{% endblock %}